input[type=radio] {
    display: none;
}
.radio_input:checked + .radio_input_label{
    background: rgb(70, 134, 187);
    color: #fff;
    text-shadow: 0 0 1px rgba(0,0,0,.7);
}
.radio_input:focus + .radio_input_label {
    outline-color: #4D90FE;
    outline-offset: -2px;
    outline-style: auto;
    outline-width: 5px;
}
.radio_input {
    clip: rect(1px, 1px, 1px, 1px);
    position: absolute !important;
}

.radio_input_label {
    display: inline-block;
    padding: 0.5rem 1rem;
    margin-right: 18px;
    border-radius: 3px;
    transition: all .2s;
}