body{
    color : #000000;
    margin-right: auto;
    margin-left : auto;
    text-align: center;
}
.main{
    margin-right: auto;
    margin-left : auto;
    text-align: center;
}
input[type=radio] {
    display: none;
}
.navbar-header {
    float: none;
}img {
    object-fit: contain;
  }
@media screen and (max-width: 768px) {
    .main{
        widows: 90%;
        font-size:50%;
    }
}

@media screen and (min-width:768px) and (max-width:1024px)  {
    .main{
        widows: 90%;
        font-size:100%;
    }
}
@media screen and (min-width: 1024px) {
    .main{
        width:80%;
        font-size:100%;
    }
}