input[type="radio"]:checked + label {
    background: #31A9EE;
    color: #ffffff;
}
.label:hover {
    background-color: #E2EDF9; 
}
.color{
    padding-left: 5px;
    padding-right: 5px;
    display: block;
    border-radius: 5px;
    float: none;
    text-align : center;
}
.img{
    text-align:center;
    width: 80%;
    height: 80%
}
div { 
    text-align : center;
    margin-right: auto;
    margin-left : auto;
}
@media screen and (max-width: 768px) {
    .Shape{
        width: 100%;
        height: 80px;
    }
    body{ 
        background-color:#dddddd;
        color : #000000;
        margin-right: auto;
        margin-left : auto;
        width:85%;
        font-size:50%;
        text-align:center;
    }
    input[type=radio] {
        display: none;
        width : 20%;
        margin: 0;
        height: 50px;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        -webkit-appearance: none;
        border-radius: 0;
    }
    input[type='radio'], label {
        font-size: 250%;
        margin: 5px;
        width: 22%;
        height: 75px;
        padding-left: 5px;
        padding-right: 5px;
        border: 1px solid #006DD9;
        border-radius: 5px;
        float: left;
    }
    .color{
        width: 100%;
        height: 50%;
    }
    .btn-area .btn{
        width: 90px;
        border: 1px solid #006DD9;
        border-radius: 3px;
    }
    .Shape{
        width: 100%;
        height: 250px;
    }
}

@media screen and (min-width:768px) and (max-width:1024px)  {
    body{ 
        background-color:#dddddd;
        color : #000000;
        margin-right: auto;
        margin-left : auto;
        width:80%;
        font-size:100%;
        text-align:center;
    }
    input[type=radio] {
        display: none;
        width : 15%;
        margin: 0;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;

    }
    .label {
        margin: 5px;
        width: 15%;
        padding-left: 5px;
        padding-right: 5px;
        border: 1px solid #006DD9;
        display: block;
        border-radius: 5px;
        float: left;
    }
    .btn-area .btn{
        width: 90px;
        border: 1px solid #006DD9;
        border-radius: 3px;
    }
}
@media screen and (min-width: 1024px) { 
    body{ 
        background-color:#dddddd;
        color : #000000;
        margin-right: auto;
        margin-left : auto;
        width:600px;
        font-size:100%;
        text-align:center;
    }
    input[type=radio] {
        display: none;
        width : 15%;
        margin: 0;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
    }
    .label {
        margin: 5px;
        width: 15%;
        padding-left: 5px;
        padding-right: 5px;
        border: 1px solid #006DD9;
        display: block;
        border-radius: 5px;
        float: left;
    
    }
    .btn-area .btn{
        width: 90px;
        border: 1px solid #006DD9;
        border-radius: 3px;
    }
}