<!DOCTYPE html>
<html lang="ja">

<head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-151906603-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'UA-151906603-1');
    </script>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="keywords" content="糸かけ曼荼羅,糸曼荼羅,色,シミュレーター,シミュレーション">
    <meta name="description" content="糸かけ曼荼羅の色をシミュレーションするソフト。形状11種類・最大6色対応">
    <title>{{ title }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="google-site-verification" content="Ee6NL88pPxk1uWuAVExa_w_O0jLGiahJtoQlA8tTQf4" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.2.3/css/uikit.min.css" rel="stylesheet">
    <link href="/static/css/style.css" rel="stylesheet">
</head>

<body class="">
    <div class="main">
        <div class="uk-section-xsmall uk-padding-remove-bottom uk-padding-medium uk-section-muted">
            <h1 class="uk-margin-large-left uk-margin-remove-bottom">糸掛け曼荼羅色シミュレーター</h1>
        </div>
        <nav class="uk-padding-large-left uk-padding-remove-vertical uk-margin-small-bottom uk-navbar-container"
            uk-navbar>
            <div class="uk-navbar-left">
                <ul class="uk-navbar-nav">
                    <li class="uk-active uk-margin-large-left"><a href="/">Top</a></li>
                    <li class=""><a href="/Help">Help</a></li>
                </ul>
            </div>
        </nav>
        {% block body %}
        {% endblock %}
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.2.3/js/uikit.min.js"></script>
    <script src="/static/js/main.js"></script>
</body>

</html>