<!DOCTYPE html>
<html lang="ja">

<head>
    <script src="/static/js/main.js"></script>
    <link href="/static/css/style.css" rel="stylesheet">
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <!-- <link href="https://fonts.googleapis.com/earlyaccess/hannari.css" rel="stylesheet"> -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-151906603-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'UA-151906603-1');
    </script>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="keywords" content="糸かけ曼荼羅,糸曼荼羅,色,シミュレーター,シミュレーション,糸かけ">
    <meta name="description" content="糸かけアートをシミュレーションするソフト。形状11種類・最大6色対応">
    <title>{{ title }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="google-site-verification" content="Ee6NL88pPxk1uWuAVExa_w_O0jLGiahJtoQlA8tTQf4" />
</head>

<body>
    <div class="header">
        <h1 class="">糸かけ曼荼羅シミュレーター</h1>
        <nav class="">
            <ul class="nav-list">
                <li class="nav-item"><a href="/">Top</a></li>
                <li class="nav-item"><a href="/Help">Help</a></li>
            </ul>
        </nav>
    </div>
    {% block body %}
    {% endblock %}

</body>

</html>