<!DOCTYPE html>
<html lang="ja">

<head>
        <!-- Global site tag (gtag.js) - Google Analytics -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=UA-151906603-1"></script>
        <script>
                window.dataLayer = window.dataLayer || [];
                function gtag() { dataLayer.push(arguments); }
                gtag('js', new Date());

                gtag('config', 'UA-151906603-1');
        </script>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="keywords" content="糸かけ曼荼羅,糸曼荼羅,色,シミュレーター,シミュレーション">
        <meta name="description" content="糸かけ曼荼羅の色をシミュレーションするソフト。形状11種類・最大6色対応">
        <title>{{ title }}</title>
        <link href="/static/css/style.css" rel="stylesheet">
        <script src="/static/js/main.js"></script>
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="google-site-verification" content="Ee6NL88pPxk1uWuAVExa_w_O0jLGiahJtoQlA8tTQf4" />
        <link href="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.2.3/css/uikit.min.css" rel="stylesheet">
</head>

<body class="">
        {% block content %}
        <div class="">
                <div class="uk-section-xsmall uk-padding-remove-bottom uk-padding-medium uk-section-muted">
                        <h1 class="uk-margin-remove-bottom">糸掛け曼荼羅色シミュレーター</h1>
                </div>
                <nav class="uk-padding-large-left uk-padding-remove-vertical uk-navbar-container" uk-navbar>
                        <div class="uk-navbar-left">
                                <ul class="uk-navbar-nav">
                                        <li class="uk-active uk-margin-large-left"><a href="/">Top</a></li>
                                        <li class=""><a href="/">Comment</a></li>
                                        <li class=""><a href="/Help">DashBoard</a></li>
                                </ul>
                        </div>
                </nav>
                <div class="main">
                        <div class="container">
                                <img class="uk-column-1-3" src=" data:image/png;base64,{{imagebin}}" alt="pic01">
                                <div class="uk-column-1-3">
                                        <form action="/Result" method="post">
                                                <div data-toggle="buttons" class="row">
                                                        <p class="text-left">
                                                                ① 形状の選択
                                                        </p>
                                                        <label class="uk-button uk-column-1-2@s uk-column-1-3@m {{ac[0]}}"
                                                                for="shape1" onclick="setcolsize(6)"><input type="radio"
                                                                        name="shape" id="shape1"
                                                                        value="0">円(48P)</label>
                                                        <label class="uk-button uk-column-1-2@s uk-column-1-3@m {{ac[1]}}"
                                                                for="shape2" onclick="setcolsize(8)"> <input
                                                                        type="radio" name="shape" id="shape2"
                                                                        value="1">円(64P)</label>
                                                        <label class="uk-button uk-column-1-2@s uk-column-1-3@m {{ac[2]}}"
                                                                for="shape3" onclick="setcolsize(6)">円(77P)
                                                                <input type="radio" name="shape" id="shape3"
                                                                        value="2"></label>
                                                        <label class="uk-button uk-column-1-2@s uk-column-1-3@m {{ac[3]}}"
                                                                for="shape4" onclick="setcolsize(6)">円(88P)
                                                                <input type="radio" name="shape" id="shape4"
                                                                        value="3"></label>
                                                        <label class="uk-button uk-column-1-2@s uk-column-1-3@m {{ac[4]}}"
                                                                for="shape5" onclick="setcolsize(12)">円(108P)
                                                                <input type="radio" name="shape" id="shape5"
                                                                        value="4"></label>
                                                        <label class="uk-button uk-column-1-2@s uk-column-1-3@m {{ac[5]}}"
                                                                for="shape6" onclick="setcolsize(6)">正方形
                                                                <input type="radio" name="shape" id="shape6"
                                                                        value="5"></label><br>
                                                        <label class="uk-button uk-column-1-2@s uk-column-1-3@m {{ac[6]}}"
                                                                for="shape7" onclick="setcolsize(6)">五角形
                                                                <input type="radio" name="shape" id="shape7"
                                                                        value="6"></label>
                                                        <label class="uk-button uk-column-1-2@s uk-column-1-3@m {{ac[7]}}"
                                                                for="shape8" onclick="setcolsize(6)">六角形
                                                                <input type="radio" name="shape" id="shape8"
                                                                        value="7"></label>
                                                        <label class="uk-button uk-column-1-2@s uk-column-1-3@m {{ac[8]}}"
                                                                for="shape9" onclick="setcolsize(3)">つぼみ
                                                                <input type="radio" name="shape" id="shape9"
                                                                        value="8"></label>
                                                        <label class="uk-button uk-column-1-2@s uk-column-1-3@m {{ac[9]}}"
                                                                for="shape10" onclick="setcolsize(4)">麻の葉
                                                                <input type="radio" name="shape" id="shape10"
                                                                        value="9"></label>
                                                        <label class="uk-button uk-column-1-2@s uk-column-1-3@m {{ac[10]}}"
                                                                for="shape11" onclick="setcolsize(8)">六芒星
                                                                <input type="radio" name="shape" id="shape11"
                                                                        value="10"></label>
                                                        <label class="uk-button {{ac[11]}}" for="shape12"
                                                                onclick="setcolsize(6)">円(カスタム)
                                                                <input type="radio" name="shape" id="shape12" value="11"
                                                                        checked>
                                                                <label class="uk-button text-left" for="shape12">
                                                                        <p class="m-0">ピン数</p>
                                                                        <input type="text" name="prime7" id="prime7"
                                                                                class="col-3" value={{custompin[6]}}>
                                                                </label>
                                                                <label class="uk-button">
                                                                        <p class="m-0 mt-1">糸の間隔</p>
                                                                        <input type="text" name="prime1" id="prime1"
                                                                                class="uk-column-1-3"
                                                                                value={{custompin[0]}}>
                                                                        <input type="text" name="prime2" id="prime2"
                                                                                class="uk-column-1-3"
                                                                                value={{custompin[1]}}>
                                                                        <input type="text" name="prime3" id="prime3"
                                                                                class="uk-column-1-3"
                                                                                value={{custompin[2]}}>
                                                                        <input type="text" name="prime4" id="prime4"
                                                                                class="uk-column-1-3"
                                                                                value={{custompin[3]}}>
                                                                        <input type="text" name="prime5" id="prime5"
                                                                                class="uk-column-1-3"
                                                                                value={{custompin[4]}}>
                                                                        <input type="text" name="prime6" id="prime6"
                                                                                class="uk-column-1-3"
                                                                                value={{custompin[5]}}>
                                                                </label>
                                                        </label>
                                                </div>
                                                <div class='arrow-inverse' style="transform: rotate(180deg);">
                                                </div>
                                                <div class="btn-area row">
                                                        <p class="text-left h5 ml-0 mt-1 mb-1 col-7">②-① 糸の色
                                                        </p>
                                                        <p class="text-left h5 ml-0 mt-1 mb-1  pl-5 col-5">②-②
                                                                背景色
                                                        </p>
                                                        <div class="col-7">
                                                                <input type="color" value={{colornum[0]}} name="color1"
                                                                        id="color1" class="color">
                                                                <input type="color" value={{colornum[1]}} name="color2"
                                                                        id="color2" class="color">
                                                                <input type="color" value={{colornum[2]}} name="color3"
                                                                        id="color3" class="color">
                                                                <input type="color" value={{colornum[3]}} name="color4"
                                                                        id="color4" class="color">
                                                                <input type="color" value={{colornum[4]}} name="color5"
                                                                        id="color5" class="color">
                                                                <input type="color" value={{colornum[5]}} name="color6"
                                                                        id="color6" class="color">
                                                                <input type="color" value={{colornum[6]}} name="color7"
                                                                        id="color7" class="color">
                                                                <input type="color" value={{colornum[7]}} name="color8"
                                                                        id="color8" class="color">
                                                                <input type="color" value={{colornum[8]}} name="color9"
                                                                        id="color9" class="color">
                                                                <input type="color" value={{colornum[9]}} name="color10"
                                                                        id="color10" class="color">
                                                                <input type="color" value={{colornum[10]}}
                                                                        name="color11" id="color11" class="color">
                                                                <input type="color" value={{colornum[11]}}
                                                                        name="color12" id="color12" class="color">
                                                        </div>
                                                        <div class="col-5">
                                                                <input type="color" value={{bgcolor}} name="bgcolor"
                                                                        id="bgcolor"
                                                                        class="bgcolor ml-5 mr-5 float-left">
                                                        </div>
                                                </div>
                                                <div class='arrow-inverse' style="transform: rotate(180deg);">
                                                </div>
                                                <p class="uk-column-12">③ 実行
                                                </p>
                                                <div class="btn-area">
                                                        <button type="submit" class="btn btn-info"
                                                                onclick="remember()">実行</button>
                                                </div>
                                        </form>
                                        <p class="text-left h5 ml-0 mt-3 mb-2">配色履歴</p>
                                        <div class="btn-area">
                                                <button type="submit" class="btn btn-secondary mt-2"
                                                        onclick="change(1)">1st</button>
                                                <button type="submit" class="btn btn-secondary mt-2"
                                                        onclick="change(2)">2nd</button>
                                                <button type="submit" class="btn btn-secondary mt-2"
                                                        onclick="change(3)">3rd</button>
                                                <button type="submit" class="btn btn-secondary mt-2"
                                                        onclick="change(4)">4th</button>
                                                <button type="submit" class="btn btn-secondary mt-2"
                                                        onclick="change(5)">5th</button>
                                                <button type="submit" class="btn btn-secondary mt-2 ml-5 mr-5"
                                                        onclick="remove()">履歴消去</button>
                                        </div>
                                </div>
                        </div>
                </div>
        </div>
        {% endblock %}
        <script src="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.2.3/js/uikit.min.js"></script>
</body>

</html>